{$SITE_DOMAIN:localhost} {
    encode gzip

    handle /api/method/konsol.cube_proxy/* {
        reverse_proxy cubejs:4000
    }

    handle {
        reverse_proxy frappe_backend:8069 {
            header_up Host {$SITE_NAME:konsolidat.local}
        }
    }
}

# Cube.js playground (optional, disable in production)
{$SITE_DOMAIN:localhost}:4443 {
    reverse_proxy cubejs:4000
}
